# config.public.mk

# This file is public in git. No sensitive info allowed.

###### schema definition variables, used by justfile

# Note:
# - just works fine with quoted variables of dot-env files like this one
LINKML_SCHEMA_NAME="{{project_slug}}"
LINKML_SCHEMA_AUTHOR="{{author}}"
LINKML_SCHEMA_DESCRIPTION="{{project_description}}"
LINKML_SCHEMA_SOURCE_PATH="src/{{project_slug}}/schema/{{project_slug}}.yaml"
LINKML_SCHEMA_GOOGLE_SHEET_MODULE="{{google_sheet_module}}"
LINKML_SCHEMA_GOOGLE_SHEET_ID="{{google_sheet_id}}"
LINKML_SCHEMA_GOOGLE_SHEET_TABS="{{google_sheet_tabs}}"
LINKML_USE_SCHEMASHEETS={{use_schemasheets}}

###### linkml generator variables, used by justfile

## gen-project configuration file
LINKML_GENERATORS_CONFIG_YAML=config.yaml

## pass args if gendoc ignores config.yaml (i.e. --no-mergeimports)
LINKML_GENERATORS_DOC_ARGS=

## pass args to workaround genowl rdfs config bug (linkml#1453)
##   (i.e. --no-type-objects --no-metaclasses --metadata-profile rdfs)
LINKML_GENERATORS_OWL_ARGS=

## pass args to trigger experimental java/typescript generation
LINKML_GENERATORS_JAVA_ARGS=
LINKML_GENERATORS_TYPESCRIPT_ARGS=
