## Helper scripts for LinkML conversion

The following scripts are available to convert some of the source data to LinkML instance data YAML files:

{% if add_example %}
- `lifting/import_people_mappings.py`: Reads the SSSOM TSV files describing the people-to-people mappings and converts those into LinkML YAML
{% endif %}
