"""Data test."""
import os
import glob
import pytest
from pathlib import Path
from linkml_runtime.loaders import yaml_loader
from {{project_slug}}.datamodel.{{project_slug}} import PersonCollection

DATA_DIR_VALID = Path(__file__).parent / "data" / "valid"
DATA_DIR_INVALID = Path(__file__).parent / "data" / "invalid"

VALID_EXAMPLE_FILES = glob.glob(os.path.join(DATA_DIR_VALID, '*.yaml'))
INVALID_EXAMPLE_FILES = glob.glob(os.path.join(DATA_DIR_INVALID, '*.yaml'))


@pytest.mark.parametrize("filepath", VALID_EXAMPLE_FILES)
def test_valid_data_files(filepath):
    """Test loading of all valid data files."""
    obj = yaml_loader.load(filepath, target_class=PersonCollection)
    assert obj
